{% extends 'base.html' %}

{% block content %}
  <h2>Creați-vă profilul aici!</h2>
    <h4 style = "color: red" > Emailul nu are un format corect.</h4>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <label>Nume utilizator</label><input type="text" name ="username">
      <label> Email </label><input type="email" name ="email">
      <label> Parolă</label><input type = "password" name="password" placeholder="min. 6 caractere">
      <label> Profil Linkedin </label> <input type = "text", name="linkedin_profile">
    <button type="submit">Sign up</button>
  </form>
{% endblock %}